<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="..\..\App.Secrets.config">
    <add key="ServiceName" value="Dell Digital Delivery Services" />
    <add key="AppConfigName" value="App.config" />
    <add key="ShadowCopySource" value="PluginsShadowCopySource" />
    <add key="D3SearchString" value="Dell.D3.*" />
    <add key="D3PluginSearchString" value="Dell.D3*.dll" />
    <add key="ShadowAppDomainName" value="ShadowLoader_AppDomain" />
    <add key="ShadowCopyCache" value="ShadowCopyCache" />
    <add key="ProxyDefaultRequestHeaderKey" value="application/json" />
    <add key="GetClientResponsepath" value="api/GetClientResponse/v1" />
    <add key="SerialNumber" value="ZZ645678" />
    <add key="webSvcPath" value="api/v2/GetEndpointInfo" />
    <add key="GCRSecretSeed" value="Neon$2016!Dell#Delta4691" />
    <add key="GCRSecretSlicer" value="Once More Unto The Breach Dear Friends and fill the gap with our english dead." />
    <add key="CirrusCred" value="ServiceCirrus" />
    <add key="CirrusValue" value="Cirrus@dell" />
    <!-- D3 Keys Start-->
    <add key="ApiKey" value="34F84A43-13B4-4B05-8076-5A58EB431999" />
    <add key="SecretKey" value="0A1CB516-6E2D-4A1C-B9C8-0378C181EA66" />
    <!-- D3 Keys End-->
    <add key="TimeOut" value="1000" />
    <add key="WebSvcEndPoint" value="https://securityapi.d3-pr-tm.com/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>